%p#notice= notice

%p
  %b Name:
  = @institution.name
%p
  %b Number of students:
  = @institution.number_of_students

= link_to 'Edit', edit_institution_path(@institution)
\|
= link_to 'Back', institutions_path
