<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @institution.detail %>
</p>

<p>
  <strong>Poblationtotal:</strong>
  <%= @institution.poblationTotal %>
</p>

<p>
  <strong>Muestra:</strong>
  <%= @institution.muestra %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
