%h1 Listing poll_bodies

%table
  %thead
    %tr
      %th Poll header
      %th Question
      %th Category replay
      %th
      %th
      %th

  %tbody
    - @poll_bodies.each do |poll_body|
      %tr
        %td= poll_body.poll_header
        %td= poll_body.question
        %td= poll_body.category_replay
        %td= link_to 'Show', poll_body
        %td= link_to 'Edit', edit_poll_body_path(poll_body)
        %td= link_to 'Destroy', poll_body, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Poll body', new_poll_body_path
