%p#notice= notice

%p
  %b Poll header:
  = @poll_body.poll_header
%p
  %b Question:
  = @poll_body.question
%p
  %b Category replay:
  = @poll_body.category_replay

= link_to 'Edit', edit_poll_body_path(@poll_body)
\|
= link_to 'Back', poll_bodies_path
