%p#notice= notice

%p
  %b Replay:
  = @category_replay.replay.description
%p
  %b Category:
  = @category_replay.category.name

= link_to 'Edit', edit_admin_category_replay_path(@category_replay)
\|
= link_to 'Back', admin_category_answers_path
