%h1 Listing group_fields

%table
  %thead
    %tr
      %th Detail
      %th Group
      %th Field
      %th
      %th
      %th

  %tbody
    - @group_fields.each do |group_field|
      %tr
        %td= group_field.detail
        %td= group_field.group.name
        %td= group_field.field.name
        %td= link_to 'Show', admin_group_field_path(group_field)
        %td= link_to 'Edit', edit_admin_group_field_path(group_field)
        %td= link_to 'Destroy', admin_group_field_path(group_field), :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to 'Poll Body', new_admin_poll_body_path

%br

= link_to 'New Group field', new_admin_group_field_path
