%p#notice= notice

%p
  %b Detail:
  = @group_field.detail
%p
  %b Group:
  = @group_field.group.name
%p
  %b Field:
  = @group_field.field.name
%p
  %b Poll header:
  = @group_field.poll_header.id

= link_to 'Edit', edit_admin_group_field_path(@group_field)
\|
= link_to 'Back', admin_group_fields_path
