%p#notice= notice

%p
  %b Institution:
  = @inst_career.institution
%p
  %b Career:
  = @inst_career.career

= link_to 'Edit', edit_inst_career_path(@inst_career)
\|
= link_to 'Back', inst_careers_path
