-# frozen_string_literal: true
= simple_form_for(@poll_header) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :edad
    = f.input :date
    = f.association :institution
    = f.association :gender
    = f.association :group_field

  .form-actions
    = f.button :submit
