<%= form_with(model: poll_header, local: true) do |form| %>
  <% if poll_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll_header.errors.count, "error") %> prohibited this poll_header from being saved:</h2>

      <ul>
        <% poll_header.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
