%p#notice= notice

%p
  %b Edad:
  = @poll_header.edad
%p
  %b Date:
  = @poll_header.date
%p
  %b Institution:
  = @poll_header.institution
%p
  %b Gender:
  = @poll_header.gender

= link_to 'Edit', edit_poll_header_path(@poll_header)
\|
= link_to 'Back', poll_headers_path
