%h1 Listing factors

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @factors.each do |factor|
      %tr
        %td= factor.Name
        %td= link_to 'Show', factor
        %td= link_to 'Edit', edit_factor_path(factor)
        %td= link_to 'Destroy', factor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Factor', new_factor_path
