%h1 Listing answers

%table
  %thead
    %tr
      %th Description
      %th
      %th
      %th

  %tbody
    - @answers.each do |replay|
      %tr
        %td= replay.description
        %td= link_to 'Show', replay
        %td= link_to 'Edit', edit_replay_path(replay)
        %td= link_to 'Destroy', replay, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Replay', new_replay_path
