<p id="notice"><%= notice %></p>

<h1>Answers</h1>

<table>
  <thead>
    <tr>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |replay| %>
      <tr>
        <td><%= replay.detail %></td>
        <td><%= link_to 'Show', replay %></td>
        <td><%= link_to 'Edit', edit_replay_path(replay) %></td>
        <td><%= link_to 'Destroy', replay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Replay', new_replay_path %>
