-# frozen_string_literal: true
= simple_form_for [:admin, @question] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :detail
    = f.association :category, :label_method => lambda { |category| "#{category.id} | #{category.name}" }
    = f.association :indicator, :label_method => lambda { |replay| "#{replay.id} | #{replay.description}" }

  .form-actions
    = f.button :submit
