%h1 Listing group_fields

%table
  %thead
    %tr
      %th Detail
      %th Group
      %th Field
      %th Poll header
      %th
      %th
      %th

  %tbody
    - @group_fields.each do |group_field|
      %tr
        %td= group_field.detail
        %td= group_field.group.name
        %td= group_field.field.name
        %td= group_field.poll_header.code
        %td= link_to 'Show', group_field
        %td= link_to 'Edit', edit_group_field_path(group_field)
        %td= link_to 'Destroy', group_field, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group field', new_group_field_path
