%h1 Listing question_categories

%table
  %thead
    %tr
      %th Question
      %th Category
      %th
      %th
      %th

  %tbody
    - @question_categories.each do |question_category|
      %tr
        %td= question_category.question
        %td= question_category.category
        %td= link_to 'Show', question_category
        %td= link_to 'Edit', edit_question_category_path(question_category)
        %td= link_to 'Destroy', question_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question category', new_question_category_path
