%p#notice= notice

%p
  %b Question:
  = @question_category.question
%p
  %b Category:
  = @question_category.category

= link_to 'Edit', edit_question_category_path(@question_category)
\|
= link_to 'Back', question_categories_path
